html,
button,
select,
textarea,
input {
    font-family: 'Roboto';
    font-size: 16px;
}

header nav ul {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto, 1fr);
    justify-items: center;
}

a,
a:visited {
    text-decoration: none;
    color: #208ACC;
}

button.button {
    background-color: #090909;
    border: 2px solid transparent;
    border-radius: 4px;
    color: white;
    padding: 1em 1.5em;
    text-transform: uppercase;
}

button.button:hover {
    background-color: white;
    border-color: #171617;
    color: #191718;
}

button.button:active {
    background-color: lightblue;
}

input,
textarea {
    border: 1px solid #0f0f0f;
    border-radius: 4px;
    padding: 1em 1.5em;
}

table {
    margin: 10px;
}

td,
th {
    padding: .5em .5em;
}

textarea {
    resize: none;
}

.mealplan-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    padding: 2em;
}

.mealplan-card-title {
    margin-bottom: 0;
}

.mealplan-card-date {
    color: darkgray;
}

.mealplan-form {
    margin: 4em auto;
    min-width: 300px;
    max-width: 800px;
}

.mealplan-form p {
    display: grid;
    grid-template-columns: 8em 1fr;
    column-gap: 20px;
}

.mealplan-form label {
    text-align: right;
}

.mealplan-detail {
    margin: 4em auto;
    min-width: auto;
    max-width: auto;
}