{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
  <main>
    <form method="post">
      {% csrf_token %}
      <p>Are you sure you want to delete "{{ recipe }}"?</p>
      {{ form.as_p }}
      <div class="control">
        <button class="button">Delete</button>
      </div>
    </form>
    <h1>{{ recipe.name }}</h1>
    {% if recipe.image %}
      <img class="image" src="{{ recipe.image }}" class="pull-right">
    {% endif %}
  </form>
    <h2>Description</h2>
    <p>{{ recipe.description | markdownify }}</p>
    <p>Tags: {% for tag in recipe.tags.all %} {{ tag.name }} {% endfor %}</p>
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Food Item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }} {{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
      <form method="post" action="{% url 'recipe_rating' recipe.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
        <p>Created on {{ recipe.created }} Updated on {{ recipe.updated }}</p> 
    </ol>
  </main>
</body>
{% endblock content %}