{% load static %}
{% load markdownify %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'home' %}">Scrumptious</a>
        </li>
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li>
          <a href="{% url 'recipe_new' %}">Write a recipe</a>
        </li>
        <li>
          <a href="{% url 'recipe_edit' recipe.id %}">Edit</a>
        </li>
        <li>
          <a href="{% url 'recipe_delete' recipe.id %}">Delete</a>
        </li>
      </ul>
    </nav>
  </header> 
  <main class="recipe-detail">
    <h1>{{ recipe.name }}</h1>
    <h2>by: {{ recipe.author | default_if_none:"Unknown" }}</h2>
    {% if recipe.image %}
      <img class="image" src="{{ recipe.image }}" class="pull-right">
    {% endif %}
  </form>
    <h2>Description</h2>
    <p>Created on {{ recipe.created | date:"m/d/y" }}</p>
    <p>{{ recipe.description | markdownify }}</p>
    <p>Tags: {% for tag in recipe.tags.all %} {{ tag.name }} {% endfor %}</p>
    <h2>Ingredients</h2>
    <table>
      <thead>
        <tr>
          <th>Amount</th>
          <th>Food Item</th>
        </tr>
      </thead>
      <tbody>
        {% for ingredient in recipe.ingredients.all %}
          <tr>
            <td>{{ ingredient.amount }} {{ ingredient.measure.name }}</td>
            <td>{{ ingredient.food.name }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <h2>Steps</h2>
    <ol>
      {% for step in recipe.steps.all %}
        <li>{{ step.directions }}</li>
      {% endfor %}
      <form method="post" action="{% url 'recipe_rating' recipe.id %}">
        {% csrf_token %}
        {{ rating_form.as_p }}
        <button class="button">Rate</button>
        <p>Last Updated on {{ recipe.updated | date:"m/d/y" }}</p> 
    </ol>
  </main>
</body>
</html>
