{% extends 'base.html' %}
{% load static %}

{% block content %}
      <p>
      <form method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
      </form>
    </p>
  <main class="recipe-grid">
    {% for recipe in recipes %}
      <div class="recipe-card">
        <h2 class="recipe-card-title">
          <a href="{% url 'shoppinglists_detail' shoppinglist.pk %}">{{ shoppinglist.name }}</a>
        </h2>
        <p class="recipe-card-date">{{ recipe.description }}</p>
      </div>
    {% endfor %}
  </main>
<footer>
  {% for contact in page_obj %}
  {# Each "contact" is a Contact model object. #}
  {{ contact.full_name|upper }}<br>
      {% endfor %}
      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>  
</footer>
{% endblock content %}
