{% extends 'base.html' %}
{% load static %}
{% load markdownify %}

{% block content %}
  <main>
    <div class="delete-form">
      <form method="post">
        {% csrf_token %}
        <h3>Are you sure you want to delete "{{ meal_plans_delete.name }}"?</h3>
        {{ form.as_p }}
        <div>
          <button class="button">Delete Mealplan</button>
        </div>
      </form>
    </div>
  </main>
</body>
{% endblock content %}
