{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>

<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'meal_plans_new' %}">Create Mealplan</a>
        </li>
        <li>
          <a href="{% url 'meal_plans_delete' mealplan.pk %}">Delete Mealplans</a>
        </li>
        <li>
          <a href="{% url 'meal_plans_edit' mealplan.pk %}">Edit Mealplans</a>
        </li>  
      </ul>
    </nav>
  </header>
  <main class="mealplan-grid">
    <h2 class="mealplan-card-title">My Recipe{{ mealplan.recipes.all|pluralize }} for {{ mealplan.date | date:"l, F j, Y"}}</h2>
    {% for recipe in mealplan.recipes.all %}
      <p>
        <a href="{% url 'recipe_detail' recipe.pk %}"> {{ recipe.name }}</a>
      </p>
    {% endfor %}
  </main>
<footer>
      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>  
</footer>
</body>
</html>
