{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Recipe - Scrumptious</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body>
  <header>
    <nav>
      <ul>
        <li>
          <a href="{% url 'meal_plans_new' %}">Create Mealplan</a>
        </li>
      </ul>
    </nav>
  </header>
    <p>
      <form method="GET">
        <input type="text" name="q">
        <button type="submit">Search</button>
      </form>
    </p>
  <main class="mealplan-grid">
    <h2 class="mealplan-card-title">My Mealplans</h2>
    {% for mealplan in mealplans %}
      <div class="mealplan-card">
          <a href="{% url 'meal_plans_detail' mealplan.pk %}">{{ mealplan.name }}</a>
        <img class="image" src="{{ mealplan.image }}" alt="">
        <p class="mealplan-card-date">{{ mealplan.description }}</p>
      </div>
    {% endfor %}
  </main>
<footer>
      <div class="pagination">
          <span class="step-links">
              {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; first</a>
                  <a href="?page={{ page_obj.previous_page_number }}">previous</a>
              {% endif %}
              <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
              </span>
              {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">next</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
              {% endif %}
          </span>
      </div>  
</footer>
</body>
</html>
