{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Away</title>
  <link rel="stylesheet" href="{% static 'css/app.css' %}">
</head>
<body class="background-404">
    <header>
        <nav>
          <ul>
            <li>
              <a href="{% url 'home' %}">Scrumptious</a>
            </li>
            <li>
              <a href="{% url 'admin:index' %}">Admin</a>
            </li>
            <li>
              <a href="{% url 'recipe_new' %}">Write a recipe</a>
            </li>
          </ul>
        </nav>
      </header>
  <main>
      <h1>It looks like you took a wrong turn...</h1>
      <p>It looks like {{request_path}} no longer exist? Lets go back to the <a href="{% url 'home' %}">Home Page</a>  and find even more delicous recipes!!</p>
  </main>
  <footer></footer>
</body>
</html>